<%= form_for(@dog) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :breed %>
    <%= f.text_field :breed %>
  </div>

  <div class="field">
    <%= f.label :favorite_park %>
    <%= f.text_field :favorite_park %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
